<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OopFinalProject2021.Properties.Settings.SqlDBConnectionString"
            connectionString="Data Source=DESKTOP-7919PTC\MYSQL;Initial Catalog=SqlDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>